<div class="login">
  <div class="headline">Login to your Account</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Email field -->
    <div class="input-field">
      <input
        formControlName="email"
        type="email"
        id="email"
        name="email"
        autocomplete="email"
        (focus)="emailFieldFocused = true"
        (blur)="emailFieldFocused = false"
        [ngClass]="emailInputClasses"
        [attr.aria-describedby]="
          getFormErrors('email').length ? 'email-errors' : null
        "
        required
      />

      <img
        class="icon"
        src="./assets/img/form/email.svg"
        alt="email icon"
        [ngClass]="emailInputClasses"
      />

      <label for="email" [ngClass]="emailInputClasses"> Email Address </label>
    </div>

    <div
      id="email-errors"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      @if (getFormErrors('email').length) {
      <div class="error-message">
        @for (error of getFormErrors('email'); track $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>

    <!-- Password field -->
    <div class="input-field">
      <input
        formControlName="password"
        type="password"
        id="password"
        name="password"
        autocomplete="current-password"
        (focus)="passwordFieldFocused = true"
        (blur)="passwordFieldFocused = false"
        [ngClass]="passwordInputClasses"
        [attr.aria-describedby]="
          getFormErrors('password').length ? 'password-errors' : null
        "
        required
      />

      <img
        class="icon"
        src="./assets/img/form/password.svg"
        alt="password icon"
        [ngClass]="passwordInputClasses"
      />

      <label for="password" [ngClass]="passwordInputClasses"> Password </label>
    </div>

    <div
      id="password-errors"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      @if (getFormErrors('password').length) {
      <div class="error-message">
        @for (error of getFormErrors('password'); track $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>

    <div class="forgot-password-container">
      Forgot your password?
      <a class="link link--inline" routerLink="/forgot-password">Click here</a>
    </div>

    <!-- Sign in and guest login buttons -->
    <div class="button-container">
      <app-large-button
        type="submit"
        value="Sign in"
        [loading]="isSignInLoading"
        [loadingMessage]="'Signing in...'"
        [disabled]="isSignInButtonDisabled"
      >
      </app-large-button>
      <app-large-button
        type="button"
        value="Guest Login"
        [loading]="isGuestLoading"
        [loadingMessage]="'Signing in...'"
        [disabled]="isGuestLoginDisabled"
        (click)="onGuestLogin()"
      >
      </app-large-button>
    </div>
  </form>
</div>
