.coin-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 320px;
  min-height: 66px;

  padding: 12px;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .icon-name {
    display: flex;
    align-items: center;

    .icon {
      width: 32px;
      height: 32px;
      margin-right: 12px;
    }

    .name-symbol {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .name {
        font-size: 18px;
        font-weight: 600;
        color: var(--color-font-primary);
      }

      .symbol {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-font-secondary);
      }
    }
  }

  .chart {
    flex: 1;
    display: flex;
    justify-content: right;
  }

  .price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
    width: 110px;

    .price {
      font-size: 18px;
      font-weight: 700;
      color: var(--color-font-primary);
    }

    .change {
      font-size: 15px;
      font-weight: 400;
      margin-top: 4px;

      &.positive {
        color: var(--color-green);
      }

      &.negative {
        color: var(--color-red);
      }
    }
  }
}

@media (max-width: 450px) {
  .coin-card {
    .icon-name {
      .name-symbol {
        .name {
          font-size: 16px;
        }

        .symbol {
          font-size: 12px;
        }
      }
    }

    .price-info {
      width: 100px;
      .price {
        font-size: 16px;
      }

      .change {
        font-size: 13px;
      }
    }
  }
}
