<header class="app-header">
  <!-- History back button -->
  @if (showBackButton) {
  <app-icon-button
    icon="back"
    tooltip="Back"
    (click)="goHistoryBack()"
  ></app-icon-button>
  } @else {
  <div class="hidden"></div>
  }

  <!-- Header title, including optional icon -->
  <div class="title">
    @if (routeIcon; as icon) {
    <img
      [src]="'assets/img/coins/' + icon + '.svg'"
      [alt]="routeTitle + ' icon'"
      class="icon"
    />
    }
    <p>{{ routeTitle }}</p>
  </div>

  <!-- Coin data/price refresh button -->
  @if (showRefreshButton) {
  <app-icon-button
    icon="refresh"
    [disabled]="!(canUpdate$ | async)"
    (click)="onUpdatePricesClick()"
    [appTooltip]="refreshTooltipText$"
  ></app-icon-button>
  } @else {
  <div class="hidden"></div>
  }
</header>
