<div class="holdings-card">
  <div class="holding-value">
    <span class="label">Holding value</span>
    <div class="holding-detail">
      <span class="amount"
        >${{
          getTotalPortfolioAmount(prices, holdings) | number : "1.2-2"
        }}</span
      >
      <span class="percentage">{{
        (getTotalPortfolioChange24h(prices, holdings) | number : "1.2-2") + "%"
      }}</span>
    </div>
  </div>
  <div class="details">
    <div class="detail-item">
      <span class="label">Invested value</span>
      <span class="value"
        >${{ getTotalInvestedValue(holdings) | number : "1.2-2" }}</span
      >
    </div>
    <div class="divider"></div>
    <div class="detail-item">
      <span class="label">Available USD</span>
      <span class="value">$0</span>
    </div>
  </div>
</div>
