<div class="holdings-card">
  <!-- Holding value -->
  <div class="holding-value">
    <span class="label">Holding value</span>
    <div class="holding-detail">
      <span class="amount">${{ totalPortfolioAmount | number : "1.2-2" }}</span>
      <span class="percentage"
        >{{ totalPortfolioChange24h | number : "1.2-2" }}%</span
      >
    </div>
  </div>

  <!-- Invested value & available USD -->
  <div class="details">
    <div class="detail-item">
      <span class="label">Invested value</span>
      <span class="value">${{ totalInvestedValue | number : "1.2-2" }}</span>
    </div>
    <div class="divider"></div>
    <div class="detail-item">
      <span class="label">Available USD</span>
      <span class="value">$0</span>
    </div>
  </div>
</div>
