@if (registrationSuccess) {

<div class="success-card">
  <img
    class="success-icon"
    src="./assets/img/form/success.svg"
    alt="success icon"
  />
  <p class="success-title">Registration Complete</p>
  <p class="success-text">
    Your account was successfully created.
    <br />
    You can now log in to access your account.
  </p>
  <app-primary-button
    type="button"
    value="Go to Login"
    routerLink="/auth/login"
  >
  </app-primary-button>
</div>

} @else {

<div class="register">
  <div class="headline">Register an Account</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Username field -->
    <div class="input-field">
      <label
        [for]="FIELD.username"
        [ngClass]="getInputClassesForField(FIELD.username)"
      >
        Username
      </label>
      <input
        [formControlName]="FIELD.username"
        type="text"
        [id]="FIELD.username"
        [name]="FIELD.username"
        autocomplete="name"
        (focus)="fieldFocusStates[FIELD.username] = true"
        (blur)="fieldFocusStates[FIELD.username] = false"
        [ngClass]="getInputClassesForField(FIELD.username)"
        [attr.aria-describedby]="getAriaDescribedBy(FIELD.username)"
        required
      />

      <!-- Static username icon -->
      <img
        class="icon icon--base"
        src="./assets/img/form/person.svg"
        alt="username icon"
        [ngClass]="getInputClassesForField(FIELD.username)"
      />

      @if (form.controls[FIELD.username].valid) {
      <!-- Success icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/success.svg"
        alt="valid input"
      />
      } @else if (getFormErrors(FIELD.username).length > 0) {
      <!-- Error icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/error.svg"
        alt="invalid input"
      />
      }
    </div>

    <div
      [id]="FIELD.username + '-errors'"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      <!-- Frontend username error message -->
      @if (getFormErrors(FIELD.username).length) {
      <div class="error-message">
        @for (error of getFormErrors(FIELD.username); track $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>

    <!-- Email field -->
    <div class="input-field">
      <label
        [for]="FIELD.email"
        [ngClass]="getInputClassesForField(FIELD.email)"
      >
        Email Address
      </label>
      <input
        [formControlName]="FIELD.email"
        type="email"
        [id]="FIELD.email"
        [name]="FIELD.email"
        autocomplete="email"
        (focus)="fieldFocusStates[FIELD.email] = true"
        (blur)="fieldFocusStates[FIELD.email] = false"
        [ngClass]="getInputClassesForField(FIELD.email)"
        [attr.aria-describedby]="getAriaDescribedBy(FIELD.email)"
        required
      />

      <!-- Static email icon -->
      <img
        class="icon icon--base"
        src="./assets/img/form/email.svg"
        alt="email icon"
        [ngClass]="getInputClassesForField(FIELD.email)"
      />

      @if (form.controls[FIELD.email].valid) {
      <!-- Success icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/success.svg"
        alt="valid input"
      />
      } @else if (getFormErrors(FIELD.email).length > 0) {
      <!-- Error icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/error.svg"
        alt="invalid input"
      />
      }
    </div>

    <div
      [id]="FIELD.email + '-errors'"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      <!-- Frontend email error message -->
      @if (getFormErrors(FIELD.email).length) {
      <div class="error-message">
        @for (error of getFormErrors(FIELD.email); track $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>

    <!-- Password field -->
    <div class="input-field">
      <label
        [for]="FIELD.password"
        [ngClass]="getInputClassesForField(FIELD.password)"
      >
        Password
      </label>
      <input
        [formControlName]="FIELD.password"
        type="password"
        [id]="FIELD.password"
        [name]="FIELD.password"
        autocomplete="new-password"
        (focus)="fieldFocusStates[FIELD.password] = true"
        (blur)="fieldFocusStates[FIELD.password] = false"
        [ngClass]="getInputClassesForField(FIELD.password)"
        [attr.aria-describedby]="getAriaDescribedBy(FIELD.password)"
        required
      />

      <!-- Static password icon -->
      <img
        class="icon icon--base"
        src="./assets/img/form/password.svg"
        alt="password icon"
        [ngClass]="getInputClassesForField(FIELD.password)"
      />

      @if (form.controls[FIELD.password].valid) {
      <!-- Success icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/success.svg"
        alt="valid input"
      />
      } @else if (getFormErrors(FIELD.password).length > 0) {
      <!-- Error icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/error.svg"
        alt="invalid input"
      />
      }
    </div>

    <div
      [id]="FIELD.password + '-errors'"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      <!-- Frontend password error message -->
      @if (getFormErrors(FIELD.password).length) {
      <div class="error-message">
        @for (error of getFormErrors(FIELD.password); track $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>

    <!-- Confirm password field -->
    <div class="input-field">
      <label
        [for]="FIELD.confirmPassword"
        [ngClass]="getInputClassesForField(FIELD.confirmPassword)"
      >
        Confirm Password
      </label>
      <input
        [formControlName]="FIELD.confirmPassword"
        type="password"
        [id]="FIELD.confirmPassword"
        [name]="FIELD.confirmPassword"
        autocomplete="new-password"
        (focus)="fieldFocusStates[FIELD.confirmPassword] = true"
        (blur)="fieldFocusStates[FIELD.confirmPassword] = false"
        [ngClass]="getInputClassesForField(FIELD.confirmPassword)"
        [attr.aria-describedby]="getAriaDescribedBy(FIELD.confirmPassword)"
        required
      />

      <!-- Static confirm password icon -->
      <img
        class="icon icon--base"
        src="./assets/img/form/password.svg"
        alt="password icon"
        [ngClass]="getInputClassesForField(FIELD.confirmPassword)"
      />

      @if (form.controls[FIELD.confirmPassword].valid) {
      <!-- Success icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/success.svg"
        alt="valid input"
      />
      } @else if (getFormErrors(FIELD.confirmPassword).length > 0) {
      <!-- Error icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/error.svg"
        alt="invalid input"
      />
      }
    </div>

    <div
      [id]="FIELD.confirmPassword + '-errors'"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      <!-- Frontend confirm password error message -->
      @if (getFormErrors(FIELD.confirmPassword).length) {
      <div class="error-message">
        @for (error of getFormErrors(FIELD.confirmPassword); track $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>

    <!-- Backend error message -->
    @if (httpErrorMessage) {
    <div class="error-wrapper" role="alert" aria-live="assertive">
      <div class="error-message">
        <p class="backend-error">{{ httpErrorMessage }}</p>
      </div>
    </div>
    }

    <!-- Register button -->
    <div class="button-container">
      <app-primary-button
        type="submit"
        value="Sign Up"
        [loading]="isSignUpLoading"
        [loadingMessage]="'Signing Up...'"
        [disabled]="isSignUpButtonDisabled"
      >
      </app-primary-button>
    </div>
  </form>
</div>
}
