.footer {
  height: clamp(50px, 5dvh, 70px);
  background-color: var(--color-background);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  z-index: 2;

  .separator {
    color: var(--color-font-secondary);
    user-select: none;

    @media (max-width: 400px) {
      font-size: 16px;
    }
  }
}
