@if (coinPrices$ | async; as prices) {
<div class="coin-list">
  @if (holdings$ | async; as holdings) {

  <div class="portfolio-card">
    <div class="holding-value">
      <span class="label">Holding value</span>
      <div class="holding-detail">
        <span class="amount">$ 2,198.75</span>
        <span class="percentage">+1.4%</span>
      </div>
    </div>
    <div class="details">
      <div class="detail-item">
        <span class="label">Invested value</span>
        <span class="value">$1,618.75</span>
      </div>
      <div class="divider"></div>
      <div class="detail-item">
        <span class="label">Available USD</span>
        <span class="value">$1,589.00</span>
      </div>
    </div>
  </div>
  @if (filteredCoins$ | async; as coins) { @if (coins.length > 0) { @for (coin
  of coins; track coin.symbol) {
  <div class="coin-details" (click)="onCoinClick(coin)">
    <app-coin-card
      [coin]="{
        name: coin.name,
        symbol: coin.symbol,
        price: getPriceAmount(coin.name, coin.symbol, prices.data, holdings),
        change: prices.data[coin.name.toLowerCase()].usd_24h_change,
        holding: getHoldingAmount(coin.symbol, holdings)
      }"
    ></app-coin-card>
  </div>
  } } @else {
  <div class="no-holdings-container">
    <span>You currently have no coins.</span>
  </div>
  } } } @else {
  <div class="loading-container">
    <span>Loading, please wait...</span>
  </div>
  }
</div>
}
