.footer {
  height: clamp(50px, 5dvh, 70px);
  background-color: var(--color-background);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 16px;
  font-weight: 400;

  z-index: 2;

  gap: 12px;

  .separator {
    color: var(--color-font-primary);
    user-select: none;
  }
}
