<div class="history">
  @if (!dataLoaded) {
  <p class="loading-container">Loading transactions...</p>
  } @else {
  <div class="transaction-list">
    @if (mergedTransactions.length !== 0) { @for (tx of mergedTransactions;
    track $index) { @if (isCoin(tx)) {
    <app-coin-card [transaction]="tx"></app-coin-card>
    } @else if (isFiat(tx)) {
    <app-fiat-card [transaction]="tx"></app-fiat-card>
    } } } @else {
    <div class="no-transactions-container">
      <p>No transactions found</p>
    </div>
    }
  </div>
  }
</div>
