<div class="history">
  <app-selection-tabs
    [options]="options"
    [activeOption]="activeOption"
    (optionSelected)="onFilterTransactions($event)"
  ></app-selection-tabs>

  @if (!dataLoaded) {
  <app-loading text="Loading transactions..."></app-loading>
  } @else {
  <div class="transaction-list">
    @if (sortedMergedTransactions.length !== 0) { @for (tx of pagedTransactions;
    track $index) { @if (isCoin(tx)) {
    <app-coin-card [transaction]="tx"></app-coin-card>
    } @else if (isFiat(tx)) {
    <app-fiat-card [transaction]="tx"></app-fiat-card>
    } } } @else {
    <div class="no-transactions-container">
      <p>No transactions found</p>
    </div>
    }
  </div>

  <app-pagination
    [totalItems]="sortedMergedTransactions.length"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>
  }
</div>
