<div class="deposit-withdraw">
  <div class="amount-display">
    <p class="label">Enter Amount in USD</p>

    <div class="input-wrapper">
      <span class="prefix">$</span>

      <input
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        [value]="displayValue"
        (input)="onInputChange($event)"
        (keydown)="blockNonNumeric($event)"
        (blur)="onBlur()"
        [class.invalid]="isInvalid"
      />
    </div>

    <p class="range">
      min. ${{ minValue }} – max. ${{ maxValue.toLocaleString() }}
    </p>
    <p class="balance">
      Current Balance: ${{ walletBalance.toLocaleString() }}
    </p>
  </div>

  <app-option-button
    [options]="percentages"
    [selectedValue]="selectedPercent"
    (selectionChange)="onPercentageChange($event)"
  ></app-option-button>

  <div class="submit-button-container">
    <app-primary-button
      type="button"
      [value]="mode === 'deposit' ? 'DEPOSIT' : 'WITHDRAW'"
      [disabled]="isInvalid"
      (click)="submit()"
    ></app-primary-button>
  </div>
</div>
