.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;

  gap: 16px;

  height: 100%;
  box-sizing: border-box;
}

// User card
.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: fit-content;

  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background: var(--color-white);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

  transition: transform 0.2s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }

  .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 64px;
      height: 64px;
      margin-right: 16px;

      padding: 8px;
      border-radius: 50%;

      background: rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
    }
  }

  .user-info {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      gap: 8px;

      .name {
        font-size: 18px;
        font-weight: 700;
        color: var(--color-font-primary);
      }

      .email {
        font-size: 18px;
        font-weight: 500;
        color: var(--color-font-secondary);
      }
    }
  }
}

// Activity card
.activity-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background: var(--color-white);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

  .activity-header {
    width: 100%;
    margin-bottom: 12px;

    font-size: 16px;
    font-weight: 600;
    color: var(--color-font-primary);

    text-align: left;
  }
}

.stat-grid {
  display: grid;

  width: 100%;
  gap: 16px;

  grid-template-columns: repeat(3, 1fr);
}

.stat-box {
  display: flex;
  flex-direction: column;

  gap: 4px;

  padding: 12px;
  border-radius: 8px;
  text-align: center;

  background: var(--color-light-gray);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.03);

  transition: transform 0.2s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

  .label {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-font-secondary);
  }

  .value {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-font-primary);
  }
}

// Button container
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  width: 100%;
  margin-top: auto;

  app-primary-button {
    flex: 1;
    margin-top: 20px;
  }
}

// Loading container
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 400;

  height: 60px;
}

.loading-container {
  animation: pulseText 1.5s infinite ease-in-out;
}

@keyframes pulseText {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

// Media queries
@media (max-width: 450px) {
  .user-card {
    .user-info {
      .user-details {
        gap: 4px;
        .name,
        .email {
          font-size: 16px;
        }
      }
    }

    .user-icon {
      img {
        width: 42px;
        height: 42px;
        margin-right: 12px;
        padding: 6px;
      }
    }
  }

  .stat-grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .stat-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .label {
      font-size: 13px;
    }

    .value {
      font-size: 16px;
    }
  }
}
