<div class="profile">
  <!-- User card -->
  <div class="user-card">
    <div class="user-icon">
      <img
        [src]="'assets/img/profile/default.svg'"
        [alt]="'Default icon'"
        onerror="this.src='assets/img/profile/default.svg';"
      />
    </div>

    <div class="user-info">
      <div class="user-details">
        <p class="name">Guestaccount</p>
        <p class="email">guest&#64;example.com</p>
      </div>
      <div class="user-verify">
        <picture>
          <source
            media="(max-width: 450px)"
            srcset="assets/img/profile/verify-short.svg"
          />
          <img src="assets/img/profile/verify-long.svg" alt="Verify icon" />
        </picture>
      </div>
    </div>
  </div>

  <div class="button-container">
    <app-primary-button
      type="button"
      value="Logout"
      routerLink="/auth/logout"
    ></app-primary-button>
  </div>
</div>
