.coin-detail {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.coin-wrapper {
  width: 800px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  height: 60px;
  animation: pulseText 1.5s infinite ease-in-out;
}

@keyframes pulseText {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.price-header {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    font-size: 28px;
    font-weight: 700;
  }

  span {
    font-size: 16px;
    font-weight: 500;
  }
}

.positive {
  color: var(--color-green);
}

.negative {
  color: var(--color-red);
}
