.coin-detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 16px;

  height: 100%;
  box-sizing: border-box;
}

.coin-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
}

// Price header
.price-header {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    font-size: 28px;
    font-weight: 700;
  }

  span {
    font-size: 16px;
    font-weight: 500;
  }
}

// States
.positive {
  color: var(--color-green);
}

.negative {
  color: var(--color-red);
}

// Button container
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  width: 100%;
  margin-top: auto;

  app-primary-button {
    flex: 1;
    margin-top: 20px;
  }
}

// Loading container
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  height: 60px;
  animation: pulseText 1.5s infinite ease-in-out;
}

@keyframes pulseText {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

// Media queries
@media (max-width: 450px) {
  .coin-card {
    .coin-icon {
      img {
        width: 42px;
        height: 42px;
        margin-right: 12px;
        padding: 6px;
      }
    }
    .coin-info {
      .coin-details,
      .coin-value {
        .label,
        .amount {
          font-size: 16px;
        }

        .value,
        .crypto {
          font-size: 14px;
        }
      }
    }
  }

  .price-header {
    p {
      font-size: 22px;
    }

    span {
      font-size: 14px;
    }
  }
}
