@if (transaction) {
<div class="fiat-card">
  <div class="fiat-icon">
    <img
      src="assets/img/fiat/dollar.svg"
      alt="Dollar logo"
      onerror="this.src='assets/img/coins/default.svg';"
    />
  </div>
  <div class="fiat-info">
    <div class="fiat-meta">
      <p class="fiat-name">Fiat (USD)</p>
      <span class="label-source">Source: Bank Transfer</span>
      <span class="label-status">Status: Completed</span>
    </div>
    <div class="transaction-info">
      <p class="total-value">${{ transaction.amount | number : "1.2-2" }}</p>
      <span class="transaction-date">{{
        transaction.createdAt | date : "short"
      }}</span>
      <span
        class="transaction-type"
        [ngClass]="{
          positive: transaction.transactionType === 'deposit',
          negative: transaction.transactionType === 'withdrawal'
        }"
      >
        {{ transaction.transactionType }}
      </span>
    </div>
  </div>
</div>
}
