.fiat-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  width: 100%;
  min-width: 320px;
  min-height: 108px;
  border-radius: 10px;
  padding: 12px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }
}

.fiat-icon {
  img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    padding: 8px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
  }
}

.fiat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  .fiat-meta,
  .transaction-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    .fiat-name,
    .total-value {
      font-size: 18px;
      font-weight: 700;
      color: var(--color-font-primary);
    }

    .label-source,
    .label-status,
    .transaction-date {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-font-secondary);

      height: 21px;
    }

    .transaction-type {
      font-size: 16px;
      font-weight: 400;
    }

    .total-value,
    .transaction-date,
    .transaction-type {
      text-align: right;
    }
  }
}

// States
.positive {
  color: var(--color-green);
}

.negative {
  color: var(--color-red);
}
