<div class="buy-sell">
  <div class="amount-display">
    <p class="label">
      @if (mode === CoinTransactionType.BUY) { Enter Amount in USD } @else if
      (mode === CoinTransactionType.SELL) { Enter Amount in
      {{ holding?.coin?.name }} }
    </p>

    <div class="input-wrapper">
      @if (mode === CoinTransactionType.BUY) {
      <span class="prefix">$</span>
      }

      <input
        id="amountInput"
        name="amountInput"
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        [value]="displayValue"
        (input)="onInputChange($event)"
        (keydown)="blockNonNumeric($event)"
        (blur)="onBlur()"
        [class.invalid]="isInvalid"
      />
    </div>

    <p class="range">
      @if (mode === CoinTransactionType.BUY) { min. ${{ minValue }} – max. ${{
        maxValue | number : "1.0-2"
      }}
      } @else if (mode === CoinTransactionType.SELL) { min. {{ minValue }} –
      max. {{ maxValue | number : "1.0-6" }} {{ holding?.coin?.symbol }} }
    </p>
    <p class="balance">
      @if (mode === CoinTransactionType.BUY) { Current Balance: ${{
        walletBalance | number : "1.0-2"
      }}
      } @else if (mode === CoinTransactionType.SELL) { Coin Balance:
      {{ cryptoBalance | number : "1.0-6" }}
      {{ holding?.coin?.symbol }}
      }
    </p>
  </div>

  <app-option-button
    [options]="percentages"
    [selectedValue]="selectedPercent"
    (selectionChange)="onPercentageChange($event)"
  ></app-option-button>

  @if (currentCoin$ | async; as coin) { @if
  (coin?.market_data?.current_price?.['usd']; as usdPrice) {
  <div class="received-amount">
    @let symbol = coin.symbol.toUpperCase(); @if (mode ===
    CoinTransactionType.BUY) {
    <span class="label">You will receive:</span>
    <span class="value">
      {{ amount / usdPrice | number : "1.0-6" }} {{ symbol }}
    </span>
    <span class="price">
      (1 {{ symbol }} = ${{ usdPrice | number : "1.2-2" }})
    </span>
    } @else if (mode === CoinTransactionType.SELL) {
    <span class="label">You will receive:</span>
    <span class="value"> ${{ amount * usdPrice | number : "1.2-2" }} </span>
    <span class="price">
      (1 {{ symbol }} = ${{ usdPrice | number : "1.2-2" }})
    </span>
    }
  </div>

  } }

  <app-success-modal
    [show]="showSuccessModal"
    [mode]="mode"
    [transactionResult]="transactionResult"
    [coinSymbol]="holding?.coin?.symbol"
    (close)="showSuccessModal = false"
  ></app-success-modal>

  <app-confirmation-modal
    [show]="showConfirmationModal"
    [mode]="mode"
    [previewTransaction]="previewTransaction"
    [coinSymbol]="holding?.coin?.symbol"
    (confirm)="onUserConfirmed()"
    (cancel)="showConfirmationModal = false"
  ></app-confirmation-modal>

  <div class="submit-button-container">
    <app-primary-button
      type="button"
      [value]="mode === CoinTransactionType.BUY ? 'BUY' : 'SELL'"
      [loading]="isUpdating"
      [loadingMessage]="'Processing...'"
      [disabled]="isInvalid || showSuccessModal"
      (click)="submit()"
    ></app-primary-button>
  </div>
</div>
