<div class="buy-sell">
  <div class="amount-display">
    <p class="label">
      @if (mode === CoinTransactionType.BUY) { Enter Amount in USD } @else if
      (mode === CoinTransactionType.SELL) { Enter Amount in
      {{ holding?.coin?.name }} }
    </p>

    <div class="input-wrapper">
      @if (mode === CoinTransactionType.BUY) {
      <span class="prefix">$</span>
      }

      <input
        id="amountInput"
        name="amountInput"
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        [value]="displayValue"
        (input)="onInputChange($event)"
        (keydown)="blockNonNumeric($event)"
        (blur)="onBlur()"
        [class.invalid]="isInvalid"
      />
    </div>

    <p class="range">
      @if (mode === CoinTransactionType.BUY) { min. ${{ minValue }} – max. ${{
        maxValue | number : "1.0-2"
      }}
      } @else if (mode === CoinTransactionType.SELL) { min. {{ minValue }} –
      max. {{ maxValue | number : "1.0-6" }} {{ holding?.coin?.symbol }} }
    </p>
    <p class="balance">
      @if (mode === CoinTransactionType.BUY) { Current Balance: ${{
        walletBalance | number : "1.0-2"
      }}
      } @else if (mode === CoinTransactionType.SELL) { Coin Balance:
      {{ cryptoBalance | number : "1.0-6" }}
      {{ holding?.coin?.symbol }}
      }
    </p>
  </div>

  <app-option-button
    [options]="percentages"
    [selectedValue]="selectedPercent"
    (selectionChange)="onPercentageChange($event)"
  ></app-option-button>

  @if (currentCoin$ | async; as coin) { @if
  (coin?.market_data?.current_price?.['usd']; as usdPrice) {
  <div class="received-amount">
    @let symbol = coin.symbol.toUpperCase(); @if (mode ===
    CoinTransactionType.BUY) {
    <span class="label">You will receive:</span>
    <span class="value">
      {{ amount / usdPrice | number : "1.0-6" }} {{ symbol }}
    </span>
    <span class="price">
      (1 {{ symbol }} = ${{ usdPrice | number : "1.2-2" }})
    </span>
    } @else if (mode === CoinTransactionType.SELL) {
    <span class="label">You will receive:</span>
    <span class="value"> ${{ amount * usdPrice | number : "1.2-2" }} </span>
    <span class="price">
      (1 {{ symbol }} = ${{ usdPrice | number : "1.2-2" }})
    </span>
    }
  </div>

  } } @if (showSuccessModal && transactionResult) {
  <div class="modal-overlay">
    <div class="success-modal">
      <div class="icon">
        <img src="assets/img/success.svg" alt="Success icon" />
      </div>
      <div class="headline">Transaction Successful</div>
      <div class="message">
        You {{ mode === "buy" ? "bought" : "sold" }}
        <strong>
          {{ transactionResult.amount | number : "1.0-6" }}
          {{ holding?.coin?.symbol }}
        </strong>
      </div>
      <div class="amount-detail">
        {{ mode === "buy" ? "Spent" : "Received" }}:
        <strong
          >${{
            transactionResult.amount * transactionResult.price_per_coin
              | number : "1.2-2"
          }}</strong
        >
      </div>

      <div class="actions">
        <app-primary-button
          type="button"
          [value]="'Go to Portfolio'"
          (click)="goToPortfolio()"
        ></app-primary-button>

        <app-primary-button
          type="button"
          [value]="'Another Transaction'"
          (click)="closeSuccess()"
        ></app-primary-button>
      </div>
    </div>
  </div>
  }

  <div class="submit-button-container">
    <app-primary-button
      type="button"
      [value]="mode === CoinTransactionType.BUY ? 'BUY' : 'SELL'"
      [loading]="isUpdating"
      [loadingMessage]="'Processing...'"
      [disabled]="isInvalid || showSuccessModal"
      (click)="submit()"
    ></app-primary-button>
  </div>
</div>
