.selection-list {
  display: flex;
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 5px;
}

.selection-item {
  padding: 8px 16px;
  margin: 0 5px;

  background: none;
  border: none;
  color: var(--color-font-secondary);
  font-size: 16px;

  position: relative;

  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;

    left: 0;
    right: 0;
    bottom: -8px;

    height: 3px;

    background-color: var(--color-primary);
    border-radius: 2px;

    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    color: var(--color-primary);

    &::after {
      opacity: 0.6;
    }
  }

  &.active {
    color: var(--color-primary);
    font-weight: bold;

    &::after {
      opacity: 1;
    }
  }
}

// Media Queries
@media (max-width: 450px) {
  .selection-item {
    padding: 4px 8px;
    font-size: 14px;
  }
}
