<footer class="footer">
  <div class="footer-content">
    <p>
      On-chain data provided by
      <a href="https://www.coingecko.com/" target="_blank" rel="noopener">
        <img
          src="./assets/img/coingecko.svg"
          alt="CoinGecko"
          class="coingecko-icon"
        />
      </a>
    </p>
    <nav class="footer-links">
      <a routerLink="/auth/login/legal-notice" aria-label="Legal Notice">
        <span class="link-text">Legal Notice</span>
        <img
          src="./assets/img/legal-notice.svg"
          alt=""
          class="icon"
          aria-hidden="true"
        />
      </a>
      <span class="separator">|</span>
      <a routerLink="/auth/login/privacy-policy" aria-label="Privacy Policy">
        <span class="link-text">Privacy Policy</span>
        <img
          src="./assets/img/privacy-policy.svg"
          alt=""
          class="icon"
          aria-hidden="true"
        />
      </a>
    </nav>
  </div>
</footer>
