@if (selectedCoinId) {
<div class="transaction-list">
  <app-selection-tabs
    [options]="options"
    [activeOption]="activeOption"
    (optionSelected)="onFilterTransactions($event)"
  ></app-selection-tabs>

  @if (!dataLoaded) {
  <p class="loading-container">Loading transactions...</p>
  } @else {
  <!-- Transaction cards -->
  @if (filteredTransactions.length !== 0) { @for (transaction of
  filteredTransactions; track $index) {
  <app-coin-card [transaction]="transaction"></app-coin-card>
  } } @else {
  <div class="no-transactions-container">
    <p>No transactions found</p>
  </div>
  } }
</div>
} @else {
<p>All Transactions</p>
}
