.coin-chart {
  margin-top: 16px;
}

.time-intervals {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 6px 0;
}

button {
  flex: 1;
  padding: 6px 12px;
  border: 1px solid #e3e6e8;
  color: #6c757d;
  background: #f8f9fa;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .span {
    font-size: 14px;
    font-weight: 400;
  }

  &.active {
    background-color: #ecf4ff;
    border-color: #0063f5;
    color: #0063f5;
  }

  &:hover:not(.active) {
    background-color: #f0f2f4;
    border-color: #d0d2d4;
    color: #495057;
  }

  &:active:not(.active) {
    transform: scale(90%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.desktop-label {
  display: inline;
}
.mobile-label {
  display: none;
}

@media (max-width: 500px) {
  .desktop-label {
    display: none;
  }
  .mobile-label {
    display: inline;
  }
}
