@if (userProfile$ | async; as profile) {
<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <!-- Section: Personal Information -->
  <div class="section-box">
    <p class="section-title">Personal Information</p>
    <!-- Username field -->
    <div class="input-field">
      <input
        [formControlName]="FormControlNames.Username"
        type="text"
        autocomplete="username"
        [id]="FormControlNames.Username"
        [name]="FormControlNames.Username"
        (focus)="onFocus(FormControlNames.Username)"
        (blur)="onBlur(FormControlNames.Username)"
        [ngClass]="getInputClasses(FormControlNames.Username)"
        [attr.aria-describedby]="getErrorId(FormControlNames.Username)"
        [attr.required]="!isGuestUser"
        [readonly]="isGuestUser"
      />

      <!-- Static username icon -->
      <img
        class="icon icon--base"
        src="./assets/img/form/person.svg"
        alt="username icon"
        [ngClass]="getInputClasses(FormControlNames.Username)"
      />

      @if (form.controls[FormControlNames.Username].valid && !isGuestUser) {
      <!-- Success icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/success.svg"
        alt="valid input"
      />
      } @else if (getFormErrors(FormControlNames.Username).length > 0) {
      <!-- Error icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/error.svg"
        alt="invalid input"
      />
      }

      <label
        [for]="FormControlNames.Username"
        [ngClass]="getInputClasses(FormControlNames.Username)"
      >
        Username
      </label>
    </div>

    <div
      id="username-errors"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      <!-- Frontend email error message -->
      @if (getFormErrors(FormControlNames.Username).length) {
      <div class="error-message">
        @for (error of getFormErrors(FormControlNames.Username); track $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>

    <!-- Email field -->
    <div class="input-field">
      <input
        [formControlName]="FormControlNames.Email"
        type="email"
        autocomplete="email"
        [id]="FormControlNames.Email"
        [name]="FormControlNames.Email"
        (focus)="onFocus(FormControlNames.Email)"
        (blur)="onBlur(FormControlNames.Email)"
        [ngClass]="getInputClasses(FormControlNames.Email)"
        [attr.aria-describedby]="getErrorId(FormControlNames.Email)"
        [attr.required]="!isGuestUser"
        [readonly]="isGuestUser"
      />

      <!-- Static email icon -->
      <img
        class="icon icon--base"
        src="./assets/img/form/email.svg"
        alt="email icon"
        [ngClass]="getInputClasses(FormControlNames.Email)"
      />

      @if (form.controls[FormControlNames.Email].valid && !isGuestUser) {
      <!-- Success icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/success.svg"
        alt="valid input"
      />
      } @else if (getFormErrors(FormControlNames.Email).length > 0) {
      <!-- Error icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/error.svg"
        alt="invalid input"
      />
      }

      <label
        [for]="FormControlNames.Email"
        [ngClass]="getInputClasses(FormControlNames.Email)"
        >Email Address</label
      >
    </div>

    <div
      id="email-errors"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      <!-- Frontend email error message -->
      @if (getFormErrors(FormControlNames.Email).length) {
      <div class="error-message">
        @for (error of getFormErrors(FormControlNames.Email); track $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>
  </div>

  <!-- Section: Change Password Section -->
  <div class="section-box">
    <p class="section-title">Change Password</p>
    <div class="input-field">
      <input
        [formControlName]="FormControlNames.NewPassword"
        type="password"
        autocomplete="new-password"
        [id]="FormControlNames.NewPassword"
        [name]="FormControlNames.NewPassword"
        (focus)="onFocus(FormControlNames.NewPassword)"
        (blur)="onBlur(FormControlNames.NewPassword)"
        [ngClass]="getInputClasses(FormControlNames.NewPassword)"
        [attr.aria-describedby]="getErrorId(FormControlNames.NewPassword)"
        [attr.required]="!isGuestUser"
        [readonly]="isGuestUser"
      />

      <!-- Static password icon -->
      <img
        class="icon icon--base"
        src="./assets/img/form/password.svg"
        alt="password icon"
        [ngClass]="getInputClasses(FormControlNames.NewPassword)"
      />

      @if (form.controls[FormControlNames.NewPassword].valid) {
      <!-- Success icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/success.svg"
        alt="valid input"
      />
      } @else if (getFormErrors(FormControlNames.NewPassword).length > 0) {
      <!-- Error icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/error.svg"
        alt="invalid input"
      />
      }

      <label
        [for]="FormControlNames.NewPassword"
        [ngClass]="getInputClasses(FormControlNames.NewPassword)"
      >
        New Password
      </label>
    </div>
    <div
      id="newPassword-errors"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      @if (getFormErrors(FormControlNames.NewPassword).length) {
      <div class="error-message">
        @for (error of getFormErrors(FormControlNames.NewPassword); track
        $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>

    <div class="input-field">
      <input
        [formControlName]="FormControlNames.ConfirmPassword"
        type="password"
        autocomplete="new-password"
        [id]="FormControlNames.ConfirmPassword"
        [name]="FormControlNames.ConfirmPassword"
        (focus)="onFocus(FormControlNames.ConfirmPassword)"
        (blur)="onBlur(FormControlNames.ConfirmPassword)"
        [ngClass]="getInputClasses(FormControlNames.ConfirmPassword)"
        [attr.aria-describedby]="getErrorId(FormControlNames.ConfirmPassword)"
        [attr.required]="!isGuestUser"
        [readonly]="isGuestUser"
      />

      <!-- Static password icon -->
      <img
        class="icon icon--base"
        src="./assets/img/form/password.svg"
        alt="password icon"
        [ngClass]="getInputClasses(FormControlNames.ConfirmPassword)"
      />

      @if (passwordConfirmedSuccessfully) {
      <!-- Success icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/success.svg"
        alt="valid input"
      />
      } @else if ( form.controls[FormControlNames.ConfirmPassword].touched &&
      form.errors?.[FormControlNames.MismatchPassword] ) {
      <!-- Error icon -->
      <img
        class="icon icon--status"
        src="./assets/img/form/error.svg"
        alt="invalid input"
      />
      }

      <label
        [for]="FormControlNames.ConfirmPassword"
        [ngClass]="getInputClasses(FormControlNames.ConfirmPassword)"
      >
        Confirm Password
      </label>
    </div>
    <div
      id="confirmPassword-errors"
      class="error-wrapper"
      role="alert"
      aria-live="assertive"
    >
      @if (getFormErrors(FormControlNames.ConfirmPassword).length) {
      <div class="error-message">
        @for (error of getFormErrors(FormControlNames.ConfirmPassword); track
        $index) {
        <p>{{ error }}</p>
        }
      </div>
      }
    </div>
  </div>

  <!-- Section: Identity Verification -->
  <div class="section-box">
    <p class="section-title">Identity Verification</p>
    @if (profile.verified) {
    <div class="verify-field disabled">
      <img class="icon" src="/assets/img/form/success.svg" alt="verified" />
      <span class="verify-label">Verified</span>
    </div>
    } @else {
    <div
      class="verify-field"
      (click)="onVerificationClick()"
      [class.disabled]="
        verificationStatus !== UserProfileVerificationStatus.UNVERIFIED
      "
    >
      @switch (verificationStatus) { @case
      (UserProfileVerificationStatus.VERIFIED) {
      <img class="icon" src="/assets/img/form/success.svg" alt="verified" />
      } @case (UserProfileVerificationStatus.PENDING) {
      <img class="icon" src="/assets/img/form/pending.svg" alt="pending" />
      } @default {
      <img class="icon" src="/assets/img/form/password.svg" alt="unverified" />
      } }

      <span class="verify-label">
        @switch (verificationStatus) { @case
        (UserProfileVerificationStatus.VERIFIED) { Verified } @case
        (UserProfileVerificationStatus.PENDING) { Verification in progress }
        @default { Not verified - Click here } }
      </span>
    </div>
    }
  </div>
</form>

<!-- Hint message -->
@if (isGuestUser && feedbackMessages.length === 0) {
<p class="message hint">Some fields are disabled in guest mode.</p>
}

<!-- Feedback messages -->
@for (msg of feedbackMessages; track $index) {
<div [ngClass]="msg.type === 'success' ? 'message success' : 'message error'">
  {{ msg.message }}
</div>
}

<!-- Button -->
<div class="button-container">
  <app-primary-button
    type="submit"
    value="Save Changes"
    [loading]="updatingProfile$ | async"
    [loadingMessage]="'Updating profile...'"
    [disabled]="!form.valid || !hasProfileChanged()"
    (click)="onSubmit()"
  ></app-primary-button>
</div>
}
