@if (holding) {
<div class="coin-holding-card">
  <div class="coin-icon">
    <img
      [src]="'assets/img/coins/' + holding.coin.slug + '.svg'"
      [alt]="holding.coin.slug + ' logo'"
      onerror="this.src='assets/img/coins/default.svg';"
    />
  </div>

  <div class="coin-info">
    <div class="coin-details">
      <p class="label">Balance</p>
      <span class="value">Total</span>
    </div>
    <div class="coin-value">
      <p class="amount">${{ holding.amount * coinPrice | number : "1.2-2" }}</p>
      <span class="crypto">
        {{ holding.amount | number : "1.2-2" }}
        {{ holding.coin.symbol.toUpperCase() }}
      </span>
    </div>
  </div>
</div>

<div
  class="coin-holding-card transaction-card"
  (click)="onClick(holding.coin.slug)"
>
  <div class="coin-info">
    <p>Transactions</p>
    <app-icon-button icon="forward"></app-icon-button>
  </div>
</div>
}
