<div class="coin-detail">
  @if (currentCoin$ | async; as coin) {
  <div class="coin-wrapper">
    <div class="price-header">
      <p>${{ coin.market_data.current_price["usd"] | number : "1.2-2" }}</p>
      <span [ngClass]="coin.change >= 0 ? 'positive' : 'negative'">
        {{ coin.change >= 0 ? "+" : "-" }}
        {{ coin.market_data.price_change_24h | number : "1.2-2" }}
        ({{ coin.market_data.price_change_percentage_24h | number : "1.2-2" }}%)
      </span>
    </div>

    <app-simple-chart
      dynamicClass="coin-detail-chart"
      [chartData]="chartData"
      [isPositiveTrend]="coin.change >= 0"
    ></app-simple-chart>
  </div>
  } @else {
  <div class="loading-container">
    <span>Loading, please wait...</span>
  </div>
  }
</div>
