@use "./assets/styles/colors" as *;
@use "./assets/styles/fonts" as *;
@use "./assets/styles/scrollbar" as *;
@use "./assets/styles/links" as *;

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  display: block;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--color-background);
}
