:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #dee2e6;
  --color-green: #20bf73;
  --color-red: #d90429;

  --color-primary: #005be3;
  --color-accent: #ff6f00;
  --color-background: #f8f9fa;

  --color-font-primary: #212529;
  --color-font-secondary: #6c757d;
}
