form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-field {
  position: relative;
  width: 100%;

  input {
    padding-left: 50px;
    color: var(--filter-color-primary);

    width: 100%;
    padding: 12px 18px 12px 55px;
    box-sizing: border-box;
    background: var(--color-white);

    border: 2px solid var(--color-gray);
    border-radius: 12px;

    font-size: 18px;
    font-weight: 400;

    transition: all 0.2s ease;

    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &.focused {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }

    &.valid,
    &.valid.focused {
      border-color: var(--color-black);
      color: var(--color-black);
    }

    &.invalid,
    &.invalid.focused {
      border-color: var(--color-red);
      color: var(--color-red);
    }

    &:read-only {
      border-style: dashed;
    }
  }

  label {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);

    padding: 0 4px;
    background: var(--color-white);
    font-size: 18px;
    color: var(--color-font-placeholder);

    pointer-events: none;
    transition: all 0.2s ease;

    &.focused {
      top: 2px;
      font-size: 13px;
      color: var(--color-primary);
    }

    &.valid,
    &.valid.focused {
      color: var(--color-black);
    }

    &.invalid,
    &.invalid.focused {
      color: var(--color-red);
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;

    &--base {
      opacity: 0.5;

      left: 20px;
    }
    &--status {
      opacity: 1;

      left: auto;
      right: 15px;
    }

    &.focused {
      opacity: 1;
      filter: var(--filter-color-primary);
    }

    &.valid,
    &.valid.focused {
      opacity: 1;
      filter: var(--filter-color-black);
    }

    &.invalid,
    &.invalid.focused {
      opacity: 1;
      filter: var(--filter-color-red);
    }
  }
}

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 28px;
  padding: 0 9px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease-out, visibility 500ms;

  &.visible {
    opacity: 1;
    visibility: visible;

    .error-message {
      animation: fadeInUp 500ms ease-out forwards;
    }
  }

  .error-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      font-size: 12px;
      font-weight: 400;
      color: var(--color-red);
    }

    .backend-error {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-red);
    }
  }
}

// Animations
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
