.coin-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.coin-details {
  width: 800px;
}

// Header
.header {
  width: 800px;

  .headline {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-font-primary);
  }

  .text-red {
    color: var(--color-red);
  }

  .text-green {
    color: var(--color-green);
  }

  .subtext {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-font-secondary);
  }
}

// Loading container
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 400;

  height: 60px;

  animation: pulseText 1.5s infinite ease-in-out;
}

@keyframes pulseText {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
