@if (coinPrices$ | async; as prices) {
<div class="coin-list">
  <div class="header">
    <p class="headline">
      Market is @if (averageChange24h) {
      {{ averageChange24h < 0 ? "down" : "up" }}
      <span [ngClass]="averageChangeClass">
        {{ averageChange24h | number : "1.2-2" }}%
      </span>
      }
    </p>
    <p class="subtext">In the past 24 hours</p>
  </div>
  @for (coin of coinList$ | async; track $index) {
  <div class="coin-details" (click)="onCoinClick(coin)">
    <app-coin-card
      [coin]="{
        name: coin.name,
        symbol: coin.symbol,
        price: prices.data[coin.name.toLowerCase()].usd,
        change: prices.data[coin.name.toLowerCase()].usd_24h_change
      }"
    ></app-coin-card>
  </div>
  }
</div>
} @else {
<div class="loading-container">
  <span>Loading, please wait...</span>
</div>
}
