@if (coinPrices$ | async; as prices) {

<div class="coin-list">
  <app-market-header
    [averageChange24h]="averageChange24h"
    (searchChange)="onSearch($event)"
  ></app-market-header>

  <app-selection-tabs
    [options]="options"
    [activeOption]="activeOption"
    (optionSelected)="onFilterTransactions($event)"
  ></app-selection-tabs>
  @if (filteredCoins$ | async; as coins) {

  <!-- Coin cards -->
  @if (coins.length) { @for (coin of coins; track coin.symbol) {
  <div class="coin-details" (click)="onCoinClick(coin)">
    <app-coin-card
      [coin]="{
        name: coin.name,
        symbol: coin.symbol,
        price: prices[coin.name.toLowerCase()].market_data.current_price['usd'],
        change:
          prices[coin.name.toLowerCase()].market_data
            .price_change_percentage_24h
      }"
    ></app-coin-card>
  </div>
  } } @else {
  <div class="no-results-container">
    <span>No results...</span>
  </div>
  } }
</div>

} @else {
<app-loading text="Loading market data..."></app-loading>
}
