@if (coinPrices$ | async; as prices) {
<div>
  @for (coin of coinList$ | async; track $index) {
  <div (click)="onCoinClick(coin)">
    <app-coin-card
      [coin]="{
        name: coin.name,
        symbol: coin.symbol,
        price: prices.data[coin.name.toLowerCase()].usd,
        change: prices.data[coin.name.toLowerCase()].usd_24h_change
      }"
    ></app-coin-card>
  </div>
  }
  <small class="extra-small">
    Data fetched
    <a
      class="link"
      href="javascript:void(0)"
      [class.disabled]="!canRefresh(prices.timestamp)"
      (click)="canRefresh(prices.timestamp) && updateCoinPrices()"
    >
      {{ getRelativeTime(prices.timestamp) }}
    </a>
  </small>
</div>
}
